@charset "utf-8";
/* Info
 ========================================================================== */
/**
 * 1. Writer: Ajin Lee. (Weaverloft Corp.)
 * 2. Production Date: 2024-08-05
 * 3. Client: MEDIASCOPE Inc.
 */

#login {min-height: auto;margin: 0;padding: 0;}
.login-section .inner {display: flex; flex-direction: column; justify-content: flex-end; align-items: center; height: 100vh; height: 100dvh; min-height: 100vh; min-height: 100dvh; margin: 0 20px;}

/*========== SNS ==========*/
.login-sns .section-tit-wrap {display: flex; flex-direction: column; justify-content: center; width: 100%; height: calc(100% - 268px);}
.login-sns .section-title {color: #000; text-align: center;}
.login-sns .login-sns-wrap {width: 100%; padding: 20px 0 clamp(10px, 10.667vw, 60px);}
.login-sns .login-sns-img {display: flex; justify-content: center; align-items: center; width: 62%; margin: 0 auto; padding: clamp(20px, 8vw, 47px) 0 0;}
.login-sns .login-sns-img img {aspect-ratio: 205 / 194; max-width: 287px;}
.login-sns .sns-btn-wrap {display: flex; flex-direction: column; justify-content: center; gap: 12px;}
.login-sns .sns-btn-wrap button {font-weight: 500; font-variation-settings: 'wght' 500; }
.login-sns .sns-btn-wrap button.kakao { border-color: #FEE500; background-color: #FEE500; color: #000;} 
.login-sns .sns-btn-wrap button.google { border-color: var(--basic-line-color); background-color: #fff; color: #111;} 
.login-sns .sns-btn-wrap button.facebook { border: #1E66FC; background-color: #1E66FC; color: #fff;} 
.login-sns .sns-btn-wrap button.apple { border-color: #000; background-color: #000000; color: #fff;} 

.login-sns .sns-btn-wrap button span {margin: 0 9px; background-repeat: no-repeat; background-position: left center; background-size: 1.50em auto; }
.login-sns .sns-btn-wrap button.kakao span { background-image: url('../images/common/icon-kakao.svg');} 
.login-sns .sns-btn-wrap button.google span { background-image: url('../images/common/icon-google.svg');} 
.login-sns .sns-btn-wrap button.facebook span { background-image: url('../images/common/icon-facebook.svg');} 
.login-sns .sns-btn-wrap button.apple span { background-image: url('../images/common/icon-apple.svg');} 

.login .login-link-wrap {display: flex; justify-content: center; align-items: center; gap: 12px; margin: 1.71em 0 0;font-weight: 400; font-variation-settings: 'wght' 400; color: #888;}
.login-link-wrap .login-link { font-weight: 500; font-variation-settings: 'wght' 500; text-decoration: underline; text-underline-position : under; color: #333;}

@media screen and (width: 320px) and (height: 568px) {
    .login-sns .login-sns-wrap {padding: 20px 0;}
    .login-sns .login-sns-img {width: 46%;}
}
@media screen and (max-height: 567px) {
    .login-section .inner {height: auto;}
    .login-sns .login-sns-wrap {padding: 20px 0;}
    .login-sns .login-sns-img {width: 44%;}
}

/*========== login Email ==========*/
.login-email .login-section .inner {justify-content: center;}
.login-email .section-tit-wrap {display: flex; flex-direction: column; justify-content: center; margin: 0 0 5.63em;}
.login-email .section-tit-wrap figure img {aspect-ratio: 200 / 90;}
.login-email .login-form-wrap {width: 100%;}
.login-email .input-box-wrap + .input-box-wrap {margin: 2.13em 0 0;}
.login-email .input-box-wrap {position: relative;}
.login-email .input-box-wrap input::placeholder {transition: opacity 300ms;}
.login-email .login-link-wrap .login-link {color: inherit;}
.login-email .login-input-wrap .input-box.submit input {margin: 1.88em 0 0;}

/*========== login Password ==========*/
.login-email.pw .login-section .inner {justify-content: flex-start;padding-top: 4.75em; font-size: 1rem;}
.login-email.pw .login-pw-txt {margin: 0 0 2.86em;font-weight: 400; font-variation-settings: 'wght' 400;color: #888;}

@media screen and (min-width: 421px){
    .login-email.pw .login-section .inner {font-size: clamp(16px, 4.267vw, 20px);} 
}

/*========== login App ==========*/
#accessPopup .modal-content { display: flex; flex-direction: column; max-height: inherit; }
#accessPopup .modal-content .modal-cont-wrap { display: flex; flex-direction: column; padding: 2.50em 1.250em;}
#accessPopup .modal-tit-wrap .modal-tit { text-align: left; }
#accessPopup .modal-txt-wrap { padding: 0 0 1.43em; border-top: 0; color: #888888; font-weight: 400; font-variation-settings: "wght" 400; word-break: keep-all; }
.access-rights-list { overflow-y: auto; border-top: 1px solid var(--basic-line-color); color: #333; }
.access-rights-list li { display: flex; }
.access-rights-list .list-tit-required { padding: 1.43em 0 1.14em; }
.access-rights-list .list-tit-option { padding: 1.71em 0 1.36em; }
.access-rights-list .access-rights-item3 { padding-top: 1.5em; }
.access-rights-list .access-rights-item4, .access-rights-list .access-rights-item5 { padding-top: 1.25em; }
.access-rights-list .img-wrap { display: flex; justify-content: center; align-items: center; width: 2.63em; height: 2.63em; background-color: #EEEEEE; border-radius: 50%; }
.access-rights-list .img-wrap img { width: 1.5em; height: 1.5em; }
.access-rights-list .access-rights-txt-wrap { display: flex; flex-direction: column; flex: 1; padding: 0 1.3em 0 1em; }
.access-rights-list .access-rights-desc { color: #888888; font-weight: 400; font-variation-settings: "wght" 400; word-break: keep-all; }