@charset "utf-8";
/* Info
 ========================================================================== */
/**
 * 1. Writer: Ajin Lee. Sunhyeong Kim. (Weaverloft Corp.)
 * 2. Production Date: 2024-07-30
 * 3. Client: MEDIASCOPE Inc.
 */

/*========== modalPopup ==========*/
.modal { visibility: hidden; opacity: 0; display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 50%; transform: translate(-50%, 0); z-index: 155; max-width: 750px; width: 100%; height: 100vh; height: 100dvh; background-color: rgba(0, 0, 0, 0.5); transition: 300ms 200ms; } 
.modal.open { visibility: visible; opacity: 1; transition: 300ms; } 
.modal-wrap { opacity: 0; width: 20.44em; max-height: 94vh; max-height: 94dvh; transition: opacity 300ms; } 
.modal.open .modal-wrap { opacity: 1; margin-top: 0; } 
.modal-content { position: relative; overflow: hidden; width: auto;  background-color: #fff; border-radius: 10px; } 
.modal-cont-wrap { position: relative; min-height: 152px; padding: 1.250em; } 
.modal-tit-wrap {position: relative;}
.modal-tit { font-size: 1.125rem; font-weight: 500; font-variation-settings: 'wght' 500; color: #111; } 
.modal-sub-tit { font-size: 0.875rem; font-weight: 400; font-variation-settings: 'wght' 400; color: #888; word-break: keep-all; line-height: 1.42; } 

/* modal.alert */
.modal.alert .modal-cont-wrap { display: flex; flex-direction: column; justify-content: center; padding: 2.50em 1.250em; } 
.modal.alert .modal-txt-wrap {margin: 16px 0 0; }
.modal.alert .modal-tit, .modal.alert .modal-sub-tit {text-align: center;}

/* modal.msg */
.modal.msg .modal-cont-wrap { padding: 1.250em 1.250em 2.50em; font-size: 1rem;} 
.modal.msg .modal-tit-wrap {margin: 0 0 12px;}
.modal.msg .modal-txt-wrap {padding: 20px 0 0; border-top: 1px solid var(--basic-line-color);}
.modal.msg .modal-txt-wrap:has(.modal-sub-tit) .modal-tit {margin: 0 0 0.89em;}
.modal.msg .modal-txt-wrap .basic-check-box {margin: 24px 0 0;}

.modal-btn-wrap {display: flex;}
.modal-btn-wrap .basic-btn { padding: 1em; border-radius:0 ; }
.modal-close-btn { position: absolute; top: 50%; right: -10px; transform: translate(0, -50%); } 
.modal-close-btn a { opacity: 1; display: block; width: 44px; height: 44px; background-image: url('../images/common/icon-close-black.svg'); background-repeat: no-repeat; background-position: center center; background-size: 24px auto; text-indent: -9999px; transition: opacity 300ms; color: #fff; } 

.modal.msg .modal-txt-wrap:has(.textarea-box-wrap) {padding: 14px 0 0;}
.modal-switch-area {display: flex; justify-content: space-between; align-items: center;}
.textarea-box-wrap + .modal-switch-area {margin: 20px 0 0;}
.modal-switch-tit {font-size: 1rem; font-weight: 500; font-variation-settings: 'wght' 500;color: #000;}

@media screen and (max-width: 421px) {
    .modal-wrap { width: 100%; margin: 0 24px; } 
}
@media screen and (min-width: 421px) {
    .modal-wrap { font-size: clamp(16px, 4.267vw, 20px);} 
    .modal-tit {font-size: clamp(18px, 4.8vw, 23px);} 
    .modal-sub-tit {font-size: clamp(14px, 3.733vw, 18px);} 

    /* modal.msg */
    .modal.msg .modal-cont-wrap {font-size: clamp(16px, 4.267vw, 20px);} 
    .modal-switch-tit {font-size: clamp(16px, 4.267vw, 20px);} 
}

/*========== Full Page modalPopup ==========*/
.modal.full { background-color: transparent; box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.04);}
.modal.full .full-modal-wrap { opacity: 0; }
.modal.full.open .full-modal-wrap { opacity: 1; width: 100%; height: 100%; transition: opacity 300ms; } 
.modal.full .full-modal-content { min-height: 100vh; min-height: 100dvh; background-color: #fff; } 
.modal.full .header-sub {display: block;}
.modal.full .full-modal-cont {overflow: hidden; overflow-y: auto; height: calc(100vh - 3.75em); padding: 0 0 7.60em; font-size: 1rem;}
@media screen and (min-width: 421px) {
    .modal.full .full-modal-cont {font-size: clamp(16px, 4.267vw, 20px);} 
}

/*========== 싱코인 선물하기 팝업 (.giftScPop) ==========*/
.giftScPop .gift-sc-cont { width: 10.955em; margin: 0 auto; font-size: 1.38rem;}
.giftScPop .gift-sc-box { display: flex; margin-bottom: 0.4em; padding: 0.1818em; font-size: inherit; border-radius: 0.454em; background-color: #fff; border: 1px solid #EBEBEB;}
.giftScPop .gift-sc-box .gift-sc-btn { flex-shrink: 0; width: 2.3636em; aspect-ratio: 1 / 1; font-size: inherit; border-radius: 0.454em; background-color: #ddd; background-repeat: no-repeat; background-position: center; background-size: 1.091em auto;}
.giftScPop .gift-sc-box .gift-sc-btn.minus-gift-sc-btn { background-image: url('../images/common/icon-decrease.svg'); }
.giftScPop .gift-sc-box .gift-sc-btn.plus-gift-sc-btn { background-image: url('../images/common/icon-increase.svg'); }
.giftScPop .gift-sc-box .gift-sc-input { width: calc(100% - (2.3636em * 2)); font-size: inherit; text-align: center;}
.giftScPop .gift-sc-box-bottom { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.giftScPop .gift-sc-box-bottom .current-sc-wrap p { padding-left: 1.7em; background-image: url('../images/common/icon-singcoin.svg'); background-repeat: no-repeat; background-position: left center; background-size: 1.375em auto; font-weight: 400; font-variation-settings: 'wght' 400; color: #666;}
.giftScPop .gift-sc-box-bottom .current-sc-wrap p strong { font-weight: 700; font-variation-settings: 'wght' 700; color: #333; }
.giftScPop.modal.msg .modal-txt-wrap .basic-check-box { margin: 0;}
.giftScPop .basic-check-box input[type="checkbox"] + label { color: #333;}

@media screen and (min-width: 421px){
    .giftScPop .gift-sc-cont {font-size: clamp(22px, 5.867vw, 28px);} 
}

/*========== 노래 신청하기 팝업 (.requestPop) ==========*/
.requestPop .modal-tit { text-align: center;}
.requestPop .input-box-wrap { padding-top: 0.9375em;}
.requestPop .input-box-wrap:last-of-type { margin-top: 20px;}
.requestPop .modal-sub-tit { margin-top: 20px; text-align: center;}

/*========== 더보기 Bottom Sheet 팝업 (.bs) ==========*/
.bs .bottom-sheet-st {position: fixed;bottom: 0;left: 50%;z-index: 152;max-width: 750px;width: 100%;max-height: 90vh;margin: 0;background-color: #fff;border-radius: 20px 20px 0 0;box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);transition: transform 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;transform: translate(-50%, 110%);}
.bs.open .bottom-sheet-st {transform: translate(-50%,0);}
