@charset "utf-8";
/* Info
 ========================================================================== */
/**
 * 1. Writer: Ajin Lee. (Weaverloft Corp.)
 * 2. Production Date: 2024-09-09
 * 3. Client: MEDIASCOPE Inc.
 */

/* ------------------------------------------------------------------------ 
 HOME battle-sec
------------------------------------------------------------------------ */
/*========== 공통 ==========*/
.battle-sec .section-content { overflow: hidden; margin: 2.50em 0; font-size: 1rem; } 
.battle-sec .sub-cont-tit-wrap { padding: 0 8px; } 
.battle-sec .sub-cont-txt { font-weight: 400; font-variation-settings: 'wght' 400; } 
.sub-cont-tit a { font-size: inherit; color: inherit; } 
.white .sub-cont-tit span { background-image: url('../../images/common/icon-sub-tit-next-white.svg'); } 
.battle-sec .no-result p { padding: 3.57em 10px; } 
.sup-tit { display: inline-block; margin: 0 0.50em 0 0; font-weight: 400; font-variation-settings: 'wght' 400; color: #666; } 
.battle-sec .sub-cont-tit { margin-bottom: 1em; } 

/* Octagon Level Card */
.octagon-flip-area { padding: 1.25em; font-size: 1rem; } 
.octagon-flip { position: relative; width: 12.50em; height: 16.88em; aspect-ratio: 200 / 270; perspective: 1100px; font-size: inherit; } 
.octagon-card { width: 100%; height: 100%; position: relative; transition: .4s; transform-style: preserve-3d; font-size: inherit; } 
.octagon-card .front, .octagon-card .back { display: flex; flex-direction: column; align-items: center; position: absolute; width: 100%; height: 100%; padding: 1.56em 1em 1.25em 1em; backface-visibility: hidden; border-radius: 1em; box-shadow: 0 0.19em 1.25em rgba(252, 207, 207, 0.6); font-size: inherit; } 
.octagon-card .front { background: linear-gradient(to bottom right, #FF5E4A, #F82A2E); } 
.octagon-card .front .front-img { margin: 2.63em 0 0; font-size: inherit; } 
.octagon-card .front img, .octagon-card .back img { background-color: transparent; } 
.octagon-card .back { align-items: flex-start; background-color: #fff; transform: rotateY(180deg); } 
.octagon-card .back .back-img { margin-top: auto; margin-left: auto; } 
.octagon-flip .octagon-card.flipped { transform: rotateY(180deg); } 
.card-tit { margin: 0.80em 0 0; font-weight: 700; font-variation-settings: 'wght' 700; color: #111; } 
@media screen and (min-width: 421px){
    .battle-sec .section-content { font-size: clamp(16px, 4.267vw, 20px); } 
    .octagon-flip-area { font-size: clamp(16px, 4.267vw, 20px); } 
}

/* Status Level */
.status-level span { display: inline-block; min-width: 78px; padding: 0.38em 0.92em; border-radius: 1em; font-size: 0.750rem; font-weight: 700; font-variation-settings: 'wght' 700; line-height: 1; text-align: center; text-transform: uppercase; } 
.status-level span.white { border: 1px solid rgba(255, 255, 255, 0.4); color: #fff; } 
.status-level span.red { border: 1px solid var(--main-point-color); color: var(--main-point-color); } 
@media screen and (min-width: 421px){
    .status-level span { font-size: clamp(12px, 3.2vw, 15px); } 
}

/*========== battle-main ==========*/
.battle-sec .battle-main { padding: 2px 0 0; margin: 0; } 
.battle-main .battle-main-banner { position: relative; padding: 0 0 1em; font-size: 1rem; } 
.battle-main .battle-main-banner .swiper-wrapper { padding: 0 32px 0 0; } 
.battle-main .battle-main-banner .main-banner { width: 85.333vw; max-width: 680px; } 
.battle-main .battle-main-banner .main-banner a { position: relative; display: block; width: 100%; height: 100%; cursor: grab; } 
.battle-main .battle-main-banner .main-banner figure { display: block; overflow: hidden; width: 100%; height: 100%; background-color: #f5f5f5; border-radius: 0.38em; font-size: 1rem; } 
.battle-main .battle-main-banner .main-banner figure img { width: 100%; height: 100%; aspect-ratio: 320 / 120; border-radius: inherit; -webkit-border-radius: inherit; -moz-border-radius: inherit; -ms-border-radius: inherit; -o-border-radius: inherit; } 
.battle-main .battle-main-banner .main-banner .main-banner-txt { position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; } 
.battle-main .battle-main-banner .main-banner .main-banner-txt-inner { display: flex; flex-direction: column; justify-content: flex-end; padding: 1.11em 1.11em 1.11em 1.33em; width: 100%; height: 100%; font-size: inherit; font-weight: 400; font-variation-settings: 'wght' 400; color: #111; } 
.battle-main .battle-main-banner .main-banner .main-banner-txt.white .main-banner-txt-inner { color: #fff; } 
.battle-main .battle-main-banner .main-banner .main-banner-txt .main-banner-name { display: block; } 
.battle-main .battle-main-banner .main-banner .main-banner-txt .main-banner-name strong { font-weight: 700; font-variation-settings: 'wght' 700; } 
.battle-main .battle-main-banner .main-banner .main-banner-txt .main-banner-text { display: block; line-height: 1.2; } 
@media screen and (min-width: 421px){
    .battle-main .battle-main-banner, .battle-main .battle-main-banner .main-banner figure { font-size: clamp(16px, 4.267vw, 20px); } 
}

/*========== battle-game ==========*/
.battle-game-cont .no-result { display: none; } 
.battle-game-cont.no-result .no-result { display: block; } 
.battle-game-cont.no-result .battle-game-slide { display: none; } 
.battle-game .battle-game-slide { font-size: 1rem; } 
.score-slide-wrap { display: flex; align-items: stretch; font-size: inherit; } 
.score-slide-wrap .score-slide-list { width: 10em; align-self: stretch; height: auto; border: 1px solid var(--basic-line-color); border-radius: 0.38em; } 
.score-slide-wrap .score-slide-list .score-slide { overflow: hidden; position: relative; display: flex; flex-direction: column; justify-content: flex-end; width: 100%; height: 100%; border-radius: 0.38em; font-size: inherit; } 
.score-slide-wrap .score-slide-list .cover-img { border-radius: inherit; } 
.score-slide-wrap .score-slide-list .cover-img img { position: absolute; top: 0; left: 50%; transform: translate(-50%, 0); width: auto; max-width: none; min-width: 101%; height: 96%; } 
.score-slide-wrap .score-slide-list .score-profile-wrap { display: flex; flex: 1; align-items: stretch; background-color: #fff; } 
.score-slide-wrap .score-slide-list .score-profile-wrap .score-profile-inner { display: flex; flex-direction: column; position: relative; z-index: 1; padding: 0.75em; min-height: 140px; margin: 4.38em 0 0; background-color: #fff; font-size: inherit; flex-grow: 1; } 
.score-slide-wrap .score-slide-list .score-profile-wrap .profile-info { gap: 0.50em; width: 100%; margin-top: auto; padding: 1em 0 0; border-top: 1px solid var(--basic-line-color); line-height: 1; } 
.score-slide-wrap .score-slide-list .song-by-info { margin: -3.33em 0 0.31em; flex-direction: column; color: #111; } 
.score-slide-wrap .score-slide-list .song-by-info .profile-img { width: 3.63em; height: 3.63em; border: 0.25em solid #fff; } 
.score-slide-wrap .score-slide-list .song-by-info .profile-img::before { display: none; } 
.score-slide-wrap .score-slide-list .challenge-btn { display: none; margin: 0.5em 0 0; } 
.score-slide-wrap .score-slide-list .profile-name-wrap { flex-grow: 1; } 
.score-slide-wrap .score-slide-list.challenge .profile-name-wrap { display: none; } 
.score-slide-wrap .score-slide-list .profile-name-wrap .profile-name { overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; white-space: normal; -webkit-line-clamp: 2; text-overflow: ellipsis; } 
.score-slide-wrap .score-slide-list .profile-name-wrap .profile-name { text-align: center; } 
.score-slide-wrap .score-slide-list .profile-name-wrap .profile-score { margin: 0.17em 0 0; text-align: center; } 
.score-slide-wrap .score-slide-list.challenge .challenge-btn { display: block; } 
.score-slide-wrap .score-slide-list .challenge-btn .basic-btn.small { min-width: 84px; font-size: 0.875rem; } 
.score-slide-wrap .score-slide-list .challenge-btn .basic-btn.small span { padding: 0.43em 0; } 
@media screen and (min-width: 421px){
    .battle-game .battle-game-slide { font-size: clamp(16px, 4.267vw, 20px); } 
}

/*========== battle-challenge ==========*/
.battle-challenge-cont .no-result { display: none; } 
.battle-challenge-cont.no-result .no-result { display: block; } 
.battle-challenge-cont.no-result .battle-challenge-slide { display: none; } 
.battle-challenge .battle-challenge-cont .battle-challenge-slide .profile-wrap .profile-wrap-inner { flex-direction: column; align-items: flex-start; gap: 0.31em; width: 100%; } 
.battle-challenge .battle-challenge-cont .battle-challenge-slide .profile-list-wrap { flex-direction: row; gap: initial; } 
.battle-challenge .battle-challenge-cont .battle-challenge-slide .profile-list { width: 6.25em; } 
.battle-challenge .battle-challenge-cont .battle-challenge-slide .profile-img { width: 100%; height: 100%; aspect-ratio: 1 / 1; } 
.battle-challenge .battle-challenge-cont .battle-challenge-slide .profile-info { width: 100%; } 
.battle-challenge .battle-challenge-cont .battle-challenge-slide .profile-tit { overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; white-space: normal; -webkit-line-clamp: 2; text-overflow: ellipsis; } 

/*========== battle-level ==========*/
.battle-sec .battle-level .sub-cont-tit { margin-bottom: 1.5em; } 
.battle-level .status-label { margin: 0 0 0 6px; } 
.battle-level-cont { position: relative; } 
.battle-level-cont .no-result { display: none; } 
.battle-level-cont.no-result .no-result { display: block; } 
.battle-level-cont.no-result .battle-level-slide { display: none; } 
.battle-level-cont .battle-level-slide { width: 80vw; max-width: 600px; margin: 1em 0 0; padding: 0 0 2.25em; font-size: 1rem; } 
.battle-level-cont .battle-level-slide .profile-list-wrap { gap: 1.25em; } 
.battle-level-cont .battle-level-slide .profile-list { position: relative; } 
.battle-level-cont .battle-level-slide .profile-list::before { content: ''; position: absolute; bottom: -0.63em; left: 0; width: 100%; height: 1px; background-color: #eee; } 
.battle-level-cont .battle-level-slide .profile-area.song .profile-wrap .profile-wrap-inner { gap: 0.63em; } 
.battle-level-cont .battle-level-slide .profile-area.song .profile-info { width: calc(100% - 4.13em); } 
.battle-level-cont .battle-level-slide .profile-area.song .profile-img { position: relative; width: 3.50em; height: 3.50em; border-radius: 0.25em; } 
.battle-level-cont .battle-level-slide .profile-area.song .profile-list .profile-img::before { display: none; } 
.battle-level-cont .battle-level-slide .profile-area.song .profile-list.challenge .profile-img::before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: url('../../images/sub/battle/icon-checked-round.svg'); background-position-x: center; background-position-y: 0.63em; background-repeat: no-repeat; background-size: 1.25em auto; background-color: rgba(0, 0, 0, 0.4); } 
.battle-level-cont .battle-level-slide .profile-area.song .profile-list.challenge .profile-img::after { content: '도전 성공'; display: block; z-index: 1; position: absolute; bottom: 0.80em; left: 0; width: 100%; font-size: 0.63rem; font-weight: 700; font-variation-settings: 'wght' 700; text-align: center; color: #fff; font-family: inherit } 
.battle-level-cont .battle-level-slide .profile-area.song .profile-txt { margin: 0.10em 0 0; } 
@media screen and (min-width: 421px){
    .battle-level-cont .battle-level-slide { font-size: clamp(16px, 4.267vw, 20px); } 
    .battle-level-cont .battle-level-slide .profile-area.song .profile-list.challenge .profile-img::after { font-size: clamp(10px, 2.667vw, 13px); } 
}

/* ------------------------------------------------------------------------ 
2배 챌린지 상세 Popup
------------------------------------------------------------------------ */
/*========== Process Bar : Challenge Type ==========*/
.process-container.challenge { overflow: initial; position: relative; width: 100%; height: 1.25em; font-size: 1rem; } 
.process-container.challenge .process-bar { position: relative; width: 100%; height: 100%; background-color: #f5f5f5; border-radius: 0.38em; font-size: inherit; } 
.process-container.challenge .completed-area { position: absolute; width: 100%; height: 100%; font-size: inherit; } 
.process-container.challenge .completed-area .completed { display: block; height: 100%; width: 0; font-size: inherit; } 
.process-container.challenge .completed-area .completed.current-score { background-color: #FFB62C; border-radius: 0.38em 0 0 0.38em; transition: width ease-out 300ms;} 
.process-container.challenge .completed-area .completed.next-goal { position: absolute; top: 0; left: 0; background-color: #FDE1AC; transition: width ease-out 50ms, border 300ms; } 
.process-container.challenge .completed-area .completed.next-goal.on { border-right: 1px dashed #888;} 
.process-container.challenge .process-bar .target-line { position: absolute; top: 50%; transform: translateY(-50%); z-index: 1; width: 2px; height: 1.63em; background-color: #FF7D2C;  } 
.process-container.challenge .process-bar .target-line .target-tooltip { opacity: 0; visibility: hidden; position: relative; display: block; position: absolute; bottom: 2.86em; left: 50%; transform: translateX(-50%); min-width: 7.80em; background-color: #fff; padding: 0.50em 0.64em; border-radius: 0.64em; border: 1px solid #EEEEEE; border-radius: 5px; font-weight: 700; font-variation-settings: 'wght' 700; color: #FF7D2C; transition: opacity 300ms; transition-delay: 300ms; line-height: 1;} 
.process-container.challenge .process-bar .target-line.on .target-tooltip { opacity: 1; visibility: visible; } 
.process-container.challenge .process-bar .target-line .target-tooltip::before {content: "";position: absolute;top: 100%;left: 50%;z-index: 1;margin-top: -0.135em;margin-left: -0.43em;border-width: 0.50em;border-style: solid;border-color: #fff transparent transparent transparent;font-size: inherit;}
.process-container.challenge .process-bar .target-line .target-tooltip::after {content: "";position: absolute;top: 100%;left: 50%;margin-left: -0.43em;border-width: 0.57em;border-style: solid;border-color: #eee transparent transparent transparent;font-size: inherit;}
.process-container.challenge .process-bar .next-goal .next-goal-tooltip { opacity: 0; visibility: hidden; display: block; position: absolute; bottom: -2.71em; left: 100%; transform: translateX(-50%); min-width: 3.72em; padding: 1em 0 0; background-image: url('../../images/sub/battle/icon-tooltip-arrow-gray.svg'); background-position: top center; background-repeat: no-repeat; background-size: 0.72em auto; font-weight: 500; font-variation-settings: 'wght' 500; color: #888; transition: opacity 300ms; transition-delay: 300ms; line-height: 1; text-align: center; } 
.process-container.challenge .process-bar .next-goal.on .next-goal-tooltip { opacity: 1; visibility: visible; } 
@media screen and (min-width: 421px){
    .process-container.challenge { font-size: clamp(16px, 4.267vw, 20px); } 
}

/*========== 도전 성공 ==========*/
.s-challenge-cont .cont-area.graph.process {padding-bottom: 0;}
.graph-area.process-challenge-area {display: block; padding: 2.14em 0 2.86em; font-size: 1rem;}
.battle-challenge-popup .graph-area.process-challenge-area .graph-area-tit {padding: 0 0 1.11em; margin: 0; font-weight: 700; font-variation-settings: 'wght' 700; color: #111;}
.process-challenge-area .process-challenge-bottom {margin: 4.14em 0 0; font-size: inherit;}
.process-challenge-area .challenge-score-wrap { border: 1px solid var(--basic-line-color); border-radius: 0.63em; font-size: inherit;}
.process-challenge-area .challenge-score-wrap .challenge-score-top { display: flex; padding: 1.25em 0; font-size: inherit;}
.current-scored { display: flex; align-items: center; justify-content: center; width: calc(100% - 11.25em); font-size: inherit;}
.current-scored .c-score {font-weight: 500; font-variation-settings: 'wght' 500; color: #888;}
.current-scored .c-score strong {display: inline-block; margin-right: 4px; font-size: 2rem;}
.goal-scored {min-width: 180px; margin-right: 1.25em; font-size: inherit;}
.goal-scored li {display: flex; justify-content: space-between; align-items: center; font-weight: 400; font-variation-settings: 'wght' 400;}
.goal-scored .c-score-tit {color: #666;}
.goal-scored .c-score {color: #888;}
.goal-scored .c-score strong {display: inline-block; margin-right: 2px;font-weight: 700; font-variation-settings: 'wght' 700;color: #333;}
.process-challenge-area .challenge-score-wrap .challenge-score-bottom .graph-guide-wrap {padding: 0.938em 0; background-color: #fff;border-top: 1px solid var(--basic-line-color);border-radius: 0 0 0.63em 0.63em;}
.process-challenge-area .challenge-score-wrap .challenge-score-bottom .graph-guide-wrap .graph-guide .guide-tit {padding: 0;}
.process-challenge-area .challenge-score-wrap .challenge-score-bottom .graph-guide-wrap .graph-guide .guide-tit::before {display: none;}
@media screen and (min-width: 421px){
    .graph-area.process-challenge-area { font-size: clamp(16px, 4.267vw, 20px); } 
    .current-scored .c-score strong { font-size: clamp(32px, 9.412vw, 36px); } 
}